/* Header */
header {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  min-height: 48px;
  line-height: 48px;
}
/* logo */
.logo-icon img {
  height: 70px;
  width: auto;
  margin: 2.5px auto;
}

/* Menu */ 

header .menu {
  list-style: none;
  margin: 10px auto;
  font-size: 16px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;

}

.menu a {
  color: #898989;
}

.menu li a:link {
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: none;
  color:rgba(0, 240, 220, 1);
}


/* Dropdown */
.dropdown ul {
  margin: 0;
  padding: 0;
}
.dropdown ul li {
  display: inline-block;
  position: relative;
}
.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}