/* general */
span {
    color: #4183C4;
    font-weight: bold;
}
/* header */
.navbar-header .navbar-brand {
  font-weight: bolder;
}

/* button */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid rgba(0,0,0,.5);
  border-radius: 100%!important;
  font-size: 40px;
  color: rgba(0,0,0,.5);
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

/* contact */
section#contact .section-subheading {
    color: rgba(255,255,255,1);
    font-size: 18px
}

.success .navbar-default {
    padding: 10px;
    border-color: transparent;
    background-color: #222;
}

.success .intro-lead-in a {
  text-decoration: none;
  color: rgba(255,255,255,1); 
}

.success .intro-lead-in a:hover {
  text-decoration: none;
  color: rgba(255,255,255,.7); 
}

h2#sucessful {
  height: 261px;
}

/* footer */
footer {
  padding: 20px 0;
  text-align: center;
  background: rgba(150, 150, 150, .7);
}

footer a {
  color: #4183C4;
  font-weight: bold;
}

footer a:hover {
  color: #0078e7;
  text-decoration: none;
}

.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.svg-icon.email {
  background-image: url('../img/icon/icon-mail.svg');
}

.svg-icon.facebook {
  background-image: url('../img/icon/icon-facebook.svg');
}

.svg-icon.github {
  background-image: url('../img/icon/icon-github.svg');
}

.svg-icon.linkedin {
  background-image: url('../img/icon/icon-linkedin.svg');
}

.svg-icon.twitter {
  background-image: url('../img/icon/icon-twitter.svg');


}