---
layout: default
---

	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

	{% include nav.html%}

	{% include intro.html %}

	{% include about.html %}

	<!-- Section: news -->
    <section id="portfolio" class="home-section text-center bg-gray">
		
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>News</h2>
					<i class="fa fa-2x fa-angle-down"></i>
					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-lg-offset-5">
					<hr class="marginbot-50">
				</div>
			</div>
	        <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/imbalance.jpg" class="img-responsive img-framework" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Presentation</h4>
                        <p class="text-muted">Hybrid Method for Imbalanced Datasets</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/hyperplane.png" class="img-responsive img-framework" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Academic Blog</h4>
                        <p class="text-muted">Support Vector Machine</p>
                    </div>
                </div>
            </div>	
		</div>
	</section>
	<!-- Section: news -->
	

	{% include contact.html %}

	<!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% include portfolio-modal-1.html %}
    <!-- Portfolio Modal 2 -->
    {% include portfolio-modal-2.html %}

