---
layout: presentation
---
<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

   <div data-role="main" class="ui-content">
    <p>Click on the link to see the flip effect.</p>
    <a href="#pagetwo" data-transition="flip">Flip to Page Two</a>
  </div>

  <div data-role="footer">
    {% include footer.html %}
  </div>
</div> 

<div data-role="page" id="pagetwo">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>Click on the link to go back. <b>Note</b>: fade is default.</p>
    <a href="#pageone" data-transition="flip">Go back to Page One</a>
  </div>

  <div data-role="footer">
    {% include footer.html %}
  </div>
</div> 