
<header class="clearfix">
    <div class="container">
        <div id="logo">
            <p id="DataSEED">Data<span style="color:red;">SEED</span></p>
        </div>
        <nav>
            <ul class="nav clearfix">
                <li class="active"><a href="#intro">Intro</a></li>
                <li class=""><a href="#reviews">Reviews</a></li>
                <li class=""><a href="#overview">Features</a></li>
                <li class=""><a href="#share">Share</a></li>
            </ul>
        </nav>
    </div>
</header>