<!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-2" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Hybrid Method for Imbalanced Datasets</h2>
                            <p class="item-intro text-muted"></p>
                            <img class="img-responsive" src="img/portfolio/weather_example.png" alt="">
                            <img class="img-responsive" src="img/portfolio/hybrid.png" alt="">
                            <p class="justify">The area of imbalanced dataset has been attracted growing attention from both academia and industry, because it poses a serious issues for so many supervised learning problems, that is, most of data are in majority class, while only limited number of data are in minority class. In this case, if all data are used to be training dataset in order to fit a classic classifier, the classifier tends to classify all data to majority class by ignoring minority data as noise. Hence, it is very important to select suitable training dataset in the prepossessing stage for classification of im- balanced dataset. We propose an combination approach based on SMOTE (Synthetic Minority Over-sampling Technique) and instance selection approaches. The experimental results show that the proposed combination approach can help classifiers to achieve better performance. <a href="http://gaotx.com/presentations">Read more.</a></p>
                            <ul class="list-inline">
                                <li>Date: April 17, 2015</li>
                                <li>Speaker: Tianxiang Gao</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>